.loader-outer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.loader-inner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-inner div {
  position: absolute;
  top: 33px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--clr-grey-1);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-inner div:nth-child(1) {
  left: 10px;
  animation: b1 0.6s infinite;
}
.loader-inner div:nth-child(2) {
  left: 10px;
  animation: b2 0.6s infinite;
}
.loader-inner div:nth-child(3) {
  left: 32px;
  animation: b2 0.6s infinite;
}
.loader-inner div:nth-child(4) {
  left: 56px;
  animation: b3 0.6s infinite;
}
@keyframes b1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes b3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes b2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
