.page-hero {
  min-height: 20vh;
  display: grid;
  place-items: center;
  background: var(--clr-grey-10);
  color: var(--clr-grey-5);
}
.section-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.page-hero-title {
  font-weight: 500;
}
.products {
  display: grid;
  /* width: 90%; */
  padding: 3rem 4rem;
  gap: 2rem;
  /* max-width: 130rem; */
  grid-template-columns: repeat(auto-fit, 30rem);
}

@media only screen and (max-width: 28.125em) {
  .products {
    padding: 0.5rem 1rem;
    grid-template-columns: 1fr;
  }
  .single-product-title {
    font-size: 2rem;
  }
}

.products.more-products {
  place-content: center;
}
